extends layout

block content
  h1= title 

  - obj1 = {ball_type: "Soccer", size: "medium", weight: 11};
  - obj2 = {ball_type: "Golf", size: "small", weight: 3};
  - obj3 = {ball_type: "Bowling", size: "large", weight: 20};
  - results = [obj1, obj2, obj3];

  div(class="container-fluid")
    div(class="row m-1")
      each item in results
        div(class="col-sm-2") ball_type: #{item.ball_type} size: #{item.size} weight: #{item.weight}