extends layout

block content 
  head
    body
      h1 Title
      p Changing text
      button(type="button", class="btn btn-secondary", onClick="doBump()") Button
      div(id="bump") Bump the text

      script.
        var count = 0;
        var bump = 1;

        function doBump(){
          var value = count + bump;
          bump += 1;
          document.getElementById("bump").innerHTML = "Count: " + value + " Bump: " + bump;
        }
        let text = "Link"
        let result = text.link("http://localhost:3000/balls")
