extends layout

block content
  h1 Title
  p Changing text
  <button type="button" class="btn btn-secondary">Left</button>
  <div id="bump">Count</div>

script. 
  let count = 0;
  let value = 0;
  let bump = 1;

  function doBump(count, value, bump) {
    let sum = count+bump;


  }
